* {
    box-sizing: border-box;
}

body {
    background: #efe7e1;
    margin: 60px;
}

p {
    font-size: .875em;
    line-height: 1.4;
    margin: 0 0 1.5em;
}
.card{
 background-color: #42649b;
}
.card-text{
    color: #efe7e1;
}
.card-title{
    color: #efe7e1;
}
.photo {
    position: relative;
    line-height: 0;
    margin-bottom: 2em;
    overflow: hidden;
}

.photo-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    
    /*centering text inside .photo-overlay */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .5);
}
.slide{
    background: #42649b;
    margin: 0;
}

.slide .photo-overlay {
    opacity: 1;
    background: #42649b;
}

/*   Overlay Transitions */

.photo-overlay {
    opacity: 0;
    transition: opacity .5s;
}

.photo-overlay:hover {
    opacity: 1;
}

/* Row 1  */

img {
    transition: transform 0.5s;
    transform-origin: 60% 40%;
}

img:hover {
    transform: rotate(5deg) scale(1.1) translateY(-10%);
}


/*  Row 2  */

.photo img {
    transform-origin: 50% 50%;
}

.photo:hover img {
    transform: scale(1.2);
}


/*  Row 3  */

.slide .photo-overlay,
.slide img {
    transition: transform 0.6s ease-out;
}

.slide .photo-overlay {
    transform: translateX(-100%);
}

.slide:hover .photo-overlay {
    transform: translateX(0);
}

.slide:hover img {
    transform: translateX(100%);
}

